In [1]:
import pandas as pd

In [8]:
#df = pd.read_parquet('engage-hackathon-2025/year=2024/month=11/day=16/hour=12/1225667186084f958614500e99a47e92.snappy.parquet')
df = pd.read_parquet('scenarios/scenario_00.parquet')

In [9]:
df

,df,squawk,bds50_bds,bds50_roll,bds50_track,bds50_groundspeed,bds50_track_rate,bds50_TAS,bds60_bds,bds60_heading,...,bds44_temperature,bds44_pressure,bds44_turbulence,bds44_humidity,heading,TAS,year,month,day,hour
655854,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025,1,23,11
655855,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025,1,23,11
655856,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025,1,23,11
655857,20,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025,1,23,11
655858,20,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025,1,23,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
864201,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025,1,23,11
864202,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025,1,23,11
864203,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025,1,23,11
864204,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025,1,23,11
864205,20,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025,1,23,11

In [ ]:
df_grouped = df.groupby('icao24')
df_grouped['icao24'].count()

icao24
020176    241
0a004b    717
34108a    108
34108f     47
3410d5     82
         ...
896458     41
a6abf4    451
a70125    729
aa305f    138
e492fa    178
Name: icao24, Length: 118, dtype: int64

In [11]:
pd.set_option('display.max_rows', None)

# Remove the limit on the number of columns displayed
pd.set_option('display.max_columns', None)

# Remove the column width limit
pd.set_option('display.max_colwidth', None)

# Optionally, you can also adjust the width of the output for better readability
pd.set_option('display.width', None)

In [3]:
df_filtered = df[df['icao24'] == '484fde']
df_filtered

,df,squawk,bds50_bds,bds50_roll,bds50_track,bds50_groundspeed,bds50_track_rate,bds50_TAS,bds60_bds,bds60_heading,...,bds44_temperature,bds44_pressure,bds44_turbulence,bds44_humidity,heading,TAS,year,month,day,hour
656017,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025,1,23,11
656085,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025,1,23,11
656204,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025,1,23,11
656298,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025,1,23,11
656496,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025,1,23,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863862,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025,1,23,11
864009,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025,1,23,11
864028,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025,1,23,11
864137,21,2113,<NA>,NaN,NaN,NaN,NaN,NaN,60,317.285156,...,NaN,NaN,NaN,NaN,NaN,NaN,2025,1,23,11
864140,20,<NA>,50,4.042969,318.339844,208.0,0.40625,208.0,<NA>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2025,1,23,11

In [14]:
col_list = df_filtered.columns.tolist()
print(col_list)

['df', 'squawk', 'bds50_bds', 'bds50_roll', 'bds50_track', 'bds50_groundspeed', 'bds50_track_rate', 'bds50_TAS', 'bds60_bds', 'bds60_heading', 'bds60_IAS', 'bds60_Mach', 'bds60_vrate_barometric', 'icao24', 'ts', 'bds', 'tc', 'NUCp', 'NICb', 'altitude', 'source', 'parity', 'lat_cpr', 'lon_cpr', 'lat_deg', 'lon_deg', 'selected_altitude', 'barometric_setting', 'NACp', 'tcas_operational', 'NACv', 'groundspeed', 'track', 'vrate_src', 'vertical_rate', 'geo_minus_baro', 'bds60_vrate_inertial', 'bds20_bds', 'bds20_callsign', 'bds40_bds', 'bds40_selected_mcp', 'bds40_barometric_setting', 'bds40_selected_fms', 'bds17_bds', 'bds17_bds05', 'bds17_bds06', 'bds17_bds07', 'bds17_bds08', 'bds17_bds09', 'bds17_bds0a', 'bds17_bds20', 'bds17_bds40', 'bds17_bds50', 'bds17_bds51', 'bds17_bds52', 'bds17_bds5f', 'bds17_bds60', 'bds45_bds', 'bds45_turbulence', 'bds45_wind_shear', 'bds45_microburst', 'bds45_icing', 'bds45_wake_vortex', 'bds45_static_temperature', 'bds45_static_pressure', 'bds45_radio_height', 'selected_heading', 'id', 'wake_vortex', 'callsign', 'subtype', 'emergency_state', 'bds17_bds42', 'tisb', 'bds10_bds', 'bds10_config', 'bds10_ovc', 'bds10_acas', 'bds10_subnet', 'bds10_level5', 'bds10_mode_s', 'bds10_identification', 'bds10_squitter', 'bds10_sic', 'bds10_gicb', 'bds10_acas_hybrid', 'bds10_acas_ra', 'bds10_dte', 'version', 'NICa', 'GVA', 'SIL', 'BAI', 'HRD', 'SILs', 'bds40_target_source', 'TAH', 'autopilot', 'vnav_mode', 'alt_hold', 'approach_mode', 'lnav_mode', 'bds05_tc', 'bds05_NUCp', 'bds05_NICb', 'bds05_altitude', 'bds05_source', 'bds05_parity', 'bds05_lat_cpr', 'bds05_lon_cpr', 'bds17_bds21', 'bds21_bds', 'bds21_registration', 'bds17_bds45', 'bds17_bds53', 'bds44_bds', 'bds44_wind_speed', 'bds44_wind_direction', 'bds44_temperature', 'bds44_pressure', 'bds44_turbulence', 'bds44_humidity', 'heading', 'TAS', 'year', 'month', 'day', 'hour']

In [4]:
track = df_filtered['bds50_track']

In [5]:
track.dropna()

657718    279.492188
659196    306.035156
659666    306.035156
660183    315.878906
679415    279.316406
702343    278.964844
704799    306.035156
704804    306.035156
724173    279.492188
726567    299.882812
770654    279.316406
772510    304.980469
772667    306.386719
792802    279.492188
792924    279.492188
793804    279.843750
816220    279.667969
838175    279.316406
859609    279.667969
860420    278.964844
861177    279.492188
862731    306.386719
864140    318.339844
Name: bds50_track, dtype: float64

In [13]:
df_coor = df_filtered[df_filtered['selected_heading'].notna()]

In [15]:
df_coor['selected_heading']

656017    281.250000
657293    281.250000
657736    281.250000
657983    281.250000
658223    281.250000
658624    288.281250
659480    317.109375
659702    317.109375
660234    317.109375
679017    281.250000
679711    281.250000
679966    281.250000
680144    281.250000
680277    281.250000
681323    281.250000
683293    317.109375
702322    281.250000
702387    281.250000
704375    293.906250
747030    281.250000
747377    281.250000
749037    293.906250
749252    293.906250
749618    312.890625
769597    281.250000
770454    281.250000
770561    281.250000
770624    281.250000
771477    281.250000
771946    281.250000
773234    317.109375
791878    281.250000
793275    281.250000
794703    293.906250
795479    317.109375
814466    281.250000
816272    281.250000
817613    293.906250
817754    315.703125
838137    281.250000
839182    281.250000
839258    281.250000
839360    281.250000
840341    293.906250
840626    293.906250
841029    317.109375
841179    317.109375
859410    281.250000
859854    281.250000
861373    281.250000
862190    295.312500
862509    293.906250
Name: selected_heading, dtype: float64

In [12]:
df_cleaned = df_filtered.dropna(axis=1, how='all')
df_cleaned

,df,squawk,bds50_bds,bds50_roll,bds50_track,bds50_groundspeed,bds50_track_rate,bds50_TAS,bds60_bds,bds60_heading,...,bds05_NICb,bds05_altitude,bds05_source,bds05_parity,bds05_lat_cpr,bds05_lon_cpr,year,month,day,hour
656017,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,<NA>,<NA>,NaN,NaN,2025,1,23,11
656085,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,<NA>,<NA>,NaN,NaN,2025,1,23,11
656204,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,<NA>,<NA>,NaN,NaN,2025,1,23,11
656298,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,<NA>,<NA>,NaN,NaN,2025,1,23,11
656496,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,<NA>,<NA>,NaN,NaN,2025,1,23,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863862,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,<NA>,<NA>,NaN,NaN,2025,1,23,11
864009,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,<NA>,<NA>,NaN,NaN,2025,1,23,11
864028,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,<NA>,<NA>,NaN,NaN,2025,1,23,11
864137,21,2113,<NA>,NaN,NaN,NaN,NaN,NaN,60,317.285156,...,NaN,NaN,<NA>,<NA>,NaN,NaN,2025,1,23,11
864140,20,<NA>,50,4.042969,318.339844,208.0,0.40625,208.0,<NA>,NaN,...,NaN,NaN,<NA>,<NA>,NaN,NaN,2025,1,23,11